/* .teja{
    background-color: black;
} */
.banner-sec{ 
    
    background-size: cover;
   height:100vh;
    
}
.login-sec{
    background:url(pic.jpg);
    background-color: white;
    display: flex;
    justify-content: center;
    background-size: cover;

}

.login{
    position:fixed;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    right:0;
    margin: 0;
    background:;
    height: 100%;
    z-index:1;
   
}
.login form{
    text-align:center;
    margin:160px,30px;
    float:left;
}
.txtb{
    width:100%;
    padding:8px 0;
    font-size: 18px;;
}
.login h2{
    font-size: 30px;
    color:#f44336;

}