
    <div class="row profile">
        <div class="col-sm-4">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="../assets/user.jpg" class="img-responsive" alt="no image" >
                </div>
                <div class="profile-usertitle-name">
                   Emilio Verdines
                </div>
                <div class="profile-usertitle-job">
                    Web Developer
                </div>
                <div class="profile-about">
                    About:
                </div>
                <div class="p1">
                    <p>Some quick example text to build on the card title and makeup the bulk of the card's content.</p>
                </div>
                 <div>
                 <button type="button" class="btn btn-info">More<i class="fa fa-arrow-right" aria-hidden="true"></i>
               </button>
                </div>
               <br>
               <div>
                   <hr class="style1">
               </div>
                <div class="row">
                    <div class="col-8 " style="padding-left: 26px;" >
                        Followers:
                    </div>
                    <div class="col-4" style="font-weight: 600"> 
                    675</div>
                  
              </div>
                 <div class="row">
                    <div class="col-8 " style="padding-left: 26px;" >
                        Following:
                    </div>
                    <div class="col-4" style="font-weight: 600"> 428</div>
                </div>
                 <div class="row">
                    <div class="col-8 " style="padding-left: 26px;" >
                        songs:
                    </div>
                    <div class="col-4" style="font-weight: 600"> 27</div>
                </div>
                <div>
                   <hr class="style1">
               </div>
                <div class="d-flex justify-content-center">
               <div class="item">
             <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
             <div class="item">
               <i class="fa fa-twitter " aria-hidden="true"></i>
            </div>
             <div class="item">
               <i class="fa fa-google " aria-hidden="true"></i> 
            </div>
             </div> 
            </div>
    </div>
        <div class="col-sm-8">
      <div class="profile-content">
          <div>
           <p class="bg-info text-white">Edit your data :</p>
          </div>
          <div class="form-row" style="margin-left: 20px;">
              
      <div class="form-group col-md-2">
       <label for="inputState">Salutation</label>
       <select id="inputState" class="form-control">
       <option>Mr</option>
       <option>Mrs</option>
      </select>
      </div>
   
        <div class="form-group col-md-5">
        <label for="inputEmail4">First Name</label>
        <input type="text" class="form-control" id="firstname">
        </div>
        <div class="form-group col-md-5" >
        <label for="inputPassword4">Last Name</label>
        <input type="text" class="form-control" id="lastname" >
        </div>
    </div>
    <div class="form-row" style="margin-left: 20px;"> 
       
      <div class="form-group col-md-3">
       <label for="inputState">Gender</label>
       <select id="inputState" class="form-control">
       <option>Male</option>
       <option>Female</option>
      </select>
      </div>
   
        <div class="form-group col-md-5">
        <label for="inputEmail4">Contact Email</label>
        <input type="email" class="form-control" id="mail" >
        </div>
        <div class="form-group col-md-4" >
        <label for="inputPassword4">Phone</label>
        <input type="text" class="form-control" id="phone" >
        </div>
    </div>
       <div class="form-row" style="margin-left: 20px;"> 
       
         <div class="form-group col-md-2">
        <label for="inputEmail4">Zip Code</label>
        <input type="email" class="form-control" id="mail" >
        </div>
           <div class="form-group col-md-5">
       <label for="inputState">Select Country</label>
       <select id="inputState" class="form-control">
       <option>India</option>
       <option>Usa</option>
      </select>
      </div>
       <div class="form-group col-md-5">
       <label for="inputState">Select State</label>
       <select id="inputState" class="form-control">
       <option>Hyderabad</option>
       <option>Andhra pradesh</option>
      </select>
      </div>
       <div class="form-group col">
        <label for="comment">Address</label>
        <textarea class="form-control" rows="2" id="address" ></textarea>
        </div>
    </div>
        <div class="row">
        <div class="align-self-center mx-auto"> 
          <button type="button" class="btn btn-success" style="margin-bottom: 30px"> 
            Update 
          </button> 
      </div>
      </div> 
  