<div class="container-login100">
    <div class="wrap-login100 p-l-110 p-r-110 p-t-70 p-b-33">
    <img src = "../assets/enter.png" class="logobox">
        <form class="login100-form validate-form flex-sb flex-w">
            <span class="login100-form-title p-b-2">Member Login
            </span>
            <div class="w-full text-center">
                <span class="txt2">
                    Don't have an account?
                </span>

                <a href="C:\Users\Srinivas-pc\Desktop\reg\screenreg.html"target="_blank" class="txt2 bo1">
                    Sign up now
                </a>
            </div>
            
            <div class="p-t-20 p-b-9">
                <span class="txt1">
                <i class="fas fa-user"></i>
                    Email
                </span>
            </div>
            <div class="wrap-input100" style="position: relative;" data-validate = "Username is required">
                <input class="input100" type="email" name="username" >
            </div>
            
            <div class="p-t-13 p-b-9">
                <span class="txt1">
                
                <i class="fas fa-lock"></i>
                
                    Password
                </span>

            </div>
            <div class="wrap-input100" style="position: relative;" data-validate = "Password is required">
                <input class="input100" type="password" name="pass" >
            </div>

<div class=" p-t-13 p-b-9">
        <input type="checkbox" >Keep me signed in
</div>	
            <a href="#" class="p-t-13 p-b-9 txt2 bo1 m-l-5">
                    Forgot password?
                </a>

            

            <div class="m-t-17" style="width: 100%;">
                <button class="login100-form-btn">
                    Sign In
                </button>
                
                <br>				
            </div>
            <br><br><br><br>
        </form>
        
</div>

</div>

