
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="pp">
            <span class="start" >start</span>
            <span class="ng" >NG</span>
        </div>   
       </nav>
       <div class="sidebar left col col-sm col-md col-lg">
       
         <ul class="list-sidebar bg-default">
                 <li> <a href="#" class="list-siderbar-item active"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span></a> </li>
                     <li> <a href="flex.html" class="list-siderbar-item"><i class="fa fa-users" aria-hidden="true"></i> <span class="nav-label">Membership</span></a> </li>
                     <li> <a href="#" class="list-siderbar-item" data-toggle="collapse" data-target="#uifeatures" class="collapsed active" > <i class="fa fa-laptop" aria-hidden="true"></i> <span class="nav-label"> UI Features </span> <span class="fa fa-chevron-left pull-right" aria-hidden="true" ></span> </a>
               <ul class="sub-menu collapse" id="uifeatures">
                 <li class="list-siderbar-item"><a href="#">Buttons</a></li>
                 <li><a href="#" routerLink="/userinfo">Cards</a></li>
                 <li><a href="#">Components</a></li>
                 <li><a href="#">Icons</a></li>
               </ul>
               </li>
                    <li> <a href="#" class="list-siderbar-item"><i class="fa fa-bars" aria-hidden="true"></i>
                      <span class="nav-label">Dynamic Menu</span></a> </li>
                     
                     <li> <a href="#" class="list-siderbar-item"><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="nav-label">Mailbox</span></a> </li>
               <li> <a href="#" class="list-siderbar-item" data-toggle="collapse" data-target="#formelements" class="collapsed active" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span class="nav-label"> Form Elements </span> <span class="fa fa-chevron-left pull-right" aria-hidden="true" ></span> </a>
               <ul class="sub-menu collapse" id="formelements">
                 <li class="active"><a href="#">Form Controls</a></li>
                 <li><a href="#">Form Layouts</a></li>
                 <li><a href="#">Form Validations</a></li>
                 <li><a href="#">Form Wizard</a></li>
                  <li><a href="#">Editor</a></li>
               </ul>
             </li>   
              <li> <a href="#" class="list-siderbar-item" data-toggle="collapse" data-target="#tables" class="collapsed active" > <i class="fa fa-table" aria-hidden="true"></i><span class="nav-label"> Tables </span> <span class="fa fa-chevron-left pull-right" aria-hidden="true" ></span> </a>
               <ul class="sub-menu collapse" id="tables">
                 <li class="active"><a href="#">Basic Tables</a></li>
                 <li><a href="#">Dynamic Tables</a></li>
                
               </ul>
             </li>   
              <li> <a href="#" class="list-siderbar-item" data-toggle="collapse" data-target="#tools" class="collapsed active" > <i class="fa fa-wrench" aria-hidden="true"></i><span class="nav-label"> Tools </span> <span class="fa fa-chevron-left pull-right" aria-hidden="true" ></span> </a>
               <ul class="sub-menu collapse" id="tools">
                 <li class="active"><a href="#">Drag & Drop</a></li>
                 <li><a href="#">Resizable</a></li>
                 <li><a href="#">Toaster</a></li>
                 
               </ul>
             </li>   
              <li> <a href="#" class="list-siderbar-item" data-toggle="collapse" data-target="#pages" class="collapsed active" ><i class="fa fa-file-text" aria-hidden="true"></i> <span class="nav-label"> Pages </span> <span class="fa fa-chevron-left pull-right" aria-hidden="true" ></span> </a>
               <ul class="sub-menu collapse" id="pages">
                 <li class="active"><a href="#" routerLink="/login">Login</a></li>
                 <li><a href="#" routerLink="/register">Register</a></li>
                 <li><a href="#">Blank</a></li>
                 <li><a href="#" routerLink="/project">Projects</a></li>
                  <li><a href="#" routerLink="/userinfo">Profile</a></li>
               </ul>
             </li>   
             <li> <a href="#" class="list-siderbar-item"><i class="fa fa-calendar" aria-hidden="true"></i><span class="nav-label">Calender</span></a> </li>
              <li> <a href="#" data-toggle="collapse" data-target="#maps" class="collapsed active" > <i class="fa fa-globe" aria-hidden="true"></i> <span class="nav-label"> Maps </span> <span class="fa fa-chevron-left pull-right" aria-hidden="true" ></span> </a>
               <ul class="sub-menu collapse" id="maps">
                 <li class="active"><a href="#">Google Maps</a></li>
                 <li><a href="#">Leaflet Maps</a></li>
                 
               </ul>
             </li>   
              <li> <a href="#" class="list-siderbar-item" data-toggle="collapse" data-target="#charts" class="collapsed active" > <i class="fa fa-area-chart" aria-hidden="true"></i> <span class="nav-label"> Charts </span> <span class="fa fa-chevron-left pull-right" aria-hidden="true" ></span> </a>
               <ul class="sub-menu collapse" id="charts">
                 <li class="active"><a href="#">Bar Charts</a></li>
                 <li><a href="#">Pie Charts</a></li>
                 <li><a href="#">Line Charts</a></li>
                 <li><a href="#">Bubble Charts</a></li>
                  
               </ul>
             </li>   
              <li> <a href="#" class="list-siderbar-item"  data-toggle="collapse" data-target="#level" class="collapsed active" > <i class="fa fa-folder-open-o" aria-hidden="true"></i> <span class="nav-label"> Level 1</span> <span class="fa fa-chevron-left pull-right" aria-hidden="true" ></span> </a>
               <ul class="sub-menu collapse" id="level">
                 <li class="active"><a href="#">Level 2</a></li>
                
               </ul>
             </li>   
             <li> <a href="#" class="list-siderbar-item"><i class="fa fa-external-link" aria-hidden="true"></i><span class="nav-label">External Link</span></a> </li>       
         </ul>
     </div>